a {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
a:active, a:hover {
	cursor: pointer;
}
body {
	cursor: default;
	font-family: Arial, Helvetica;
	font-size: 12px;
	padding: 5px;
	background-color:  #efefef;
}
img {
	border: none;
	text-decoration: none;
	margin-bottom: -3px;
}
li {
	list-style: none;
	margin: 0px;
	white-space: nowrap;
}
ul {
	margin: 0px;
	padding: 0px;
}

.Loading {
	color: #CCCCCC;
	text-align : center;
}